.advantages-section {
  padding: 16px 0;
  background-color: Var(--color-brand-normal);

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  &__item {
    color: Var(--color-primary-light);
    font-size: 20px;
    font-weight: 300;
  }
}
